In [1]:
import sqlite3 as sql3

In [2]:
conexion = sql3.connect("base.db")
cursor = conexion.cursor()

In [9]:

try:
    conexion.execute("""CREATE TABLE IF NOT EXISTS Personaje  (
        id integer PRIMARY KEY AUTOINCREMENT,
        nombre text,
        edad integer, 
        clase text
        
    );""")
except:
    raise Exception("ocurrio un error en al crear la tabla")

In [3]:
try:
    personajes = cursor.execute("""SELECT * FROM Personaje;""")
except:
    raise Exception("Ocurrio un error al selecionar")

In [19]:
try:
    cursor.execute("""INSERT INTO Personaje (nombre, edad, clase) VALUES ("Peter", 17, "guerrero");""")
except:
    raise Exception("Ocurrio un error al insertar")

Exception: Ocurrio un error al insertar

In [20]:
personajes = cursor.execute("""SELECT * FROM Personaje;""").fetchall()

In [ ]:
personajes

In [ ]:
conexion.close()