In [1]:
import import_ipynb
from ingestion import Data_ingestion
import pandas as pd
import numpy as np
import seaborn
import matplotlib.pyplot as plt
import warnings
from math import sqrt, floor
import random as rd

In [2]:
warnings.filterwarnings("ignore")
class Feature:
    def __init__(self):
        pass
    
    def base_stats(self):
        ingestion = Data_ingestion()
        data, pokemon_dict = ingestion.get_data()
        data = data[["Pokemon", "Attack", "Defense", "Stamina"]]
        return [data, pokemon_dict]

In [3]:
feature = Feature()
data, pokemon_dict = feature.base_stats()

In [4]:
nivel_PCM = {
"1":0.094,	"2":0.16639787,	
"3":0.21573247,	"4":0.25572005,
"5":0.29024988,	"6"	:0.3210876,
"7":0.34921268,	"8":0.3752356,
"9":0.39956728,	"10":0.4225,
"11":0.44310755, "12":0.4627984,
"13":0.48168495, "14":0.49985844,
"15":0.51739395, "16":0.5343543,
"17":0.5507927, "18":0.5667545,
"19":0.5822789, "20":0.5974,
"21":0.6121573, "22":0.6265671,
"23":0.64065295, "24":0.65443563,
"25":0.667934, "26":0.6811649,
"27":0.69414365, "28":0.7068842,
"29":0.7193991, "30":0.7317,
}

In [5]:
def calcularPC(A, D, P, IVA, IVD, IVP, PCM):
    return floor(((A+IVA)*(sqrt(D+IVD))*(sqrt(P+IVP)*PCM**2))/10)

In [8]:
def add_parameters(data):
    df = pd.DataFrame()
    data['Pokemon'] = data['Pokemon'].str.lower().str.replace(' ', '-')
    data['Pokemon_ID'] = data['Pokemon'].map(pokemon_dict)
    for i in range(len(data)):
        
        row = data.iloc[i]
        for j in range(30):
            row["IVA"] = rd.randint(0,15)
            row["IVD"] = rd.randint(0,15)
            row["IVP"] = rd.randint(0,15)
            row["PCM"] = nivel_PCM[f"{rd.randint(1,30)}"]
            
            A, D, P, IVA, IVD, IVP, PCM = row["Attack"], row["Defense"], row["Stamina"], row["IVA"],row["IVD"], row["IVP"], row["PCM"]
            row["PC"] = calcularPC(int(A), int(D), int(P), int(IVA), int(IVD), int(IVP), PCM)
            df = pd.concat([df, pd.DataFrame([row])], ignore_index=True)
    return df[["Pokemon_ID", "PC", "Attack", "Defense", "Stamina", "IVA", "IVD", "IVP", "PCM"]]

In [9]:
data = add_parameters(data)
data

       Pokemon_ID    PC  Attack  Defense  Stamina  IVA  IVD  IVP       PCM
0           289.0   422     290      166      284    0    0   15  0.255720
1           289.0   186     290      166      284    8    6   14  0.166398
2           289.0  1461     290      166      284   13    7    9  0.462798
3           289.0  1901     290      166      284    0   11   14  0.534354
4           289.0   316     290      166      284   13    4   13  0.215732
...           ...   ...     ...      ...      ...  ...  ...  ...       ...
21655       679.0     1       0        0        0   13    4    4  0.582279
21656       679.0     2       0        0        0   14    6    4  0.550793
21657       679.0     3       0        0        0   12    5    6  0.719399
21658       679.0     1       0        0        0   15    7    1  0.706884
21659       679.0     1       0        0        0   15   15   12  0.255720

[21660 rows x 9 columns]